@import 'variables';
@import 'mixins';

header {
    background-color: @yellow;
    nav {
        height: 100px;
        display:flex;
        align-items: center;
        ul {
            padding:0;
            li {
                display: inline;
                padding-right: 10px;
                @media (min-width: @phone) {
                    padding-right: 40px;
                }
                &:last-child {
                    .uppercase-links();
                    font-size: 16px;
                    color: @red;
                }
            }
        }
    }
    .header-content {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20vh;
    }
    img {
        width: 300px;
        align-self: center;
        z-index: 1;
    }
    button {
        align-self: center;
        .buttons();
        z-index: 1;
    }

    .overlay {
        background: #3B3838;
        width: 100%;
        height: 100%;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
    }

    .jumbotron {
        background: url(../img/banner-bg.png);
        background-position: center;
        background-size: 100%;
        margin-bottom: 0;
        position: relative;
    }
    
}

main {
    article {
        padding:50px 0;
        &:last-child {
            background-color: @light-gray;
        }
        img {
            text-align: center;
        }
        .img-center {
            text-align: center;
        }
        h2 {
            .heading-one();
            span {
                .heading-one-red();
            }
        }
        p {
            .para-text();
        }
    }

    button {
        .buttons();
    }
}

footer {
    background-color: @dark-gray;
    padding:30px 0;
    text-align: center;
    border-top: 10px solid @yellow;
    img {
        width: 250px;
    }
}